.App {

}

header {
  background-color: #ffffff;
  color: #222222;
  font-size: calc(1vh + 2vmin);
  text-align: left;

  min-height: 3vh;
  padding: 1vh 1vw;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
}

header img {
  max-height: 6vh;
}

header h1 {
  color: #222;
  padding: 0 1vw;
}

footer {
  background-color: #aaa;
  color: #222;
  font-size: 2vh;
  text-align: center;

  min-height: 2vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

footer a {
  color: #222;
  text-decoration: none;
}  

footer a:hover {
  text-decoration: underline;
}  
